/* basically all the aniation stuff will go into here */
/* http://jsfiddle.net/oliholz/b7FaJ/1/ */
.todos {
    position: absolute;
    /* background: coral; */
    display: block;
    width:100%;
    /* border-left:1px solid black;*/
}

.todos.ng-enter, .todos.ng-leave {
  transition: 500ms ease-in all;
} 

.todos.ng-enter.ng-enter-active, .todos.ng-leave {
  left: 0;
}
.todos.ng-leave.ng-leave-active, .todos.ng-enter {
  left: 200%;
}


/*
.todos {
    position: absolute;
    display: block;
    width:100%;
}

.todos.ng-enter, .todos.ng-leave {
  transition: 500ms ease-in all;
} 

.todos.ng-enter.ng-enter-active, .todos.ng-leave {
  left: 0;
}
.todos.ng-leave.ng-leave-active, .todos.ng-enter {
  left: 200%;
}
*/