<div class="topcoat-list__container scroller">
  <a ng-click="logout()" style="position:absolute;right:10px;">Logout</a>
  <a style="padding-left:10px" href="#/new"><i class="icon-plus-sign">NEW</i></a>
  <span style="padding-left:10px">
  	{{remaining()}} of {{todos.length}} remaining
  </span>
  
  <ul class="topcoat-list list">
    <li ng-repeat="todo in todos" class="topcoat-list__item">
      <a style="display:block; padding-left:10px; text-decoration:none" href="#/edit/{{todo._id}}">{{todo.text}}</a>
    </li>
  </ul>
</div>